{% extends 'base.html.twig' %}

{% block title %}Add MuscleGroup!{% endblock %}

{% block body %}
    <p>Add Exercise</p>
    {% for label, messages in app.flashes %}
        <div class="flash-message flash-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

    {% endfor %}



    {{ form_start(form) }}





    {{ form_end(form) }}
{% endblock %}