{% extends 'base.html.twig' %}

{% block title %}Exercises for {{ muscleGroup.type }}{% endblock %}

{% block body %}
    <h1>Exercises for {{ muscleGroup.type }}</h1>

    <ul>
        {% for exercise in exercises %}
            <li>{{ exercise.name }} </li>
        {% endfor %}
    </ul>

    <a href="{{ path('get_all_exercises') }}">Back to all exercises</a>
{% endblock %}
