{% extends 'base.html.twig' %}

{% block title %}Smart Training{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: #333;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
            color: #2c3e50;
            font-size: 2.5em;
            margin-bottom: 20px;
            text-shadow: 1px 1px 2px #ccc;
        }

        p {
            font-size: 1.1em;
            margin-bottom: 15px;
            text-align: justify;
        }

    </style>

    <div class="example-wrapper">
        <h1>Smart Training Online: Revolutionizing Learning</h1>

        <p>Smart Training Online offers innovative, flexible, and effective online training solutions designed to meet
            the needs of modern learners.</p>
        <p>With a wide range of courses available, we cater to professionals seeking to enhance their skills, advance
            their careers, or explore new fields.</p>
        <p>Our platform combines interactive content, expert instructors, and real-world applications to ensure a
            comprehensive learning experience. </p>
        <p>Join Smart Training Online today and take the first step towards a smarter, more informed future.</p>


    </div>
{% endblock %}
