{% extends 'base.html.twig' %}

{% block title %}Smart Training{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Smart Training Online: Revolutionizing Learning</h1>

        <p>Smart Training Online offers innovative, flexible, and effective online training solutions designed to meet
            the needs of modern learners.</p>
        <p>With a wide range of courses available, we cater to professionals seeking to enhance their skills, advance
            their careers, or explore new fields.</p>
        <p>Our platform combines interactive content, expert instructors, and real-world applications to ensure a
            comprehensive learning experience. </p>
        <p>Join Smart Training Online today and take the first step towards a smarter, more informed future.</p>


    </div>
{% endblock %}
